.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

$colors: (
    pulse: #000000,
);

@each $button, $color in $colors {
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 45deg)};
    }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
.addCardsBtn{
    color: var(--color);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #fff;
    }
}

// Basic button styles
.addCardsBtn {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 5em 35rem;
    padding: 1em 2em;
    width: 20rem;
    border-radius: 1%;
}
